.section { 
    padding: 1rem 1.5rem; 
}

p {
  margin-bottom: 0.7em;
}

.subtitle {
  margin-top: 2rem;
  font-weight: 600;
}

.help {
  font-size: 0.9rem;
}

ul { 
    list-style: circle inside; margin: .6rem; 
}

#resultDetails {
  margin-top: 8px;
}

#infoMessage { 
    margin-top: 2rem; 
}

.highlightTime {
  padding: 0.3em;
  font-weight: bold;
  margin-left: -0.5em;
  background-color: #fce10096;
}

/* Center table columns for better desktop layout */
#crossingResults table th,
#crossingResults table td {
  text-align: center;
}

/* Mobile Width */
@media screen and (max-width: 576px) { 
    
    iframe { height: 350px; padding-right: 1em; 
    } 

}